---
import Navbar from "../components/Navbar.vue"
import Container from "../components/Container.astro"
---

<header class="w-full flex items-center border-b border-cGray/50 bg-cGray/40 backdrop-blur mb-3 z-20 sticky top-0">
    <Container>
        <nav class="w-full flex items-center justify-between px-4 py-3">
            <picture>
                <a href="/" class="w-fit">
                    <img src="/logo.png" alt="Logotipo de la página web." class="w-full max-w-44" />
                </a>
            </picture>
            <Navbar client:load />
        </nav>
    </Container>
</header>